/* Headlines margins */
.markdown-preview-view h1,
.markdown-preview-view h2 {
  margin-top: 4rem;
  margin-bottom: 0em;
}

.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 { 
  margin-top: 2.5rem;
  margin-bottom: -0.5rem; 
}



/* Horizontal line margins  */
.markdown-preview-view hr {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}



/* Fonts  */
.markdown-source-view,
.markdown-preview-view {
  font-family: Yrsa;
}
h1, h2, h3, h4, h5, h6,
.markdown-preview-section h1,
.markdown-preview-section h2,
.markdown-preview-section h3,
.markdown-preview-section h4,
.markdown-preview-section h5,
.markdown-preview-section h6,
.callout.callout[data-callout~=infobox] {
  font-family: Yrsa !important;
}
